numpy==1.24.4
uvicorn==0.25.0
fastapi
python-multipart
ultralytics==8.2.98
pillow==10.3.0
opencv-python-headless
torch==2.4.0
torchaudio==2.4.0
torchmetrics==0.8.2
torchsummary==1.5.1
torchvision==0.19.0
